
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGameLabel" data-translate="stidmApp.game.home.createOrEditLabel">Create or edit a Game</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.game.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.game.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.ref" for="field_ref">Ref</label>
            <input type="text" class="form-control" name="ref" id="field_ref"
                    ng-model="vm.game.ref"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.game.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.game.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.release" for="field_release">Release</label>
                <div class="input-group">
                    <input id="field_release" type="text" class="form-control" name="release" uib-datepicker-popup="{{dateformat}}" ng-model="vm.game.release" is-open="vm.datePickerOpenStatus.release"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('release')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.game.description" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.cover" for="field_cover">Cover</label>
            <input type="text" class="form-control" name="cover" id="field_cover"
                    ng-model="vm.game.cover"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.video" for="field_video">Video</label>
            <input type="text" class="form-control" name="video" id="field_video"
                    ng-model="vm.game.video"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.keyRef" for="field_keyRef">Key Ref</label>
            <input type="text" class="form-control" name="keyRef" id="field_keyRef"
                    ng-model="vm.game.keyRef"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="stidmApp.game.price" for="field_price">Price</label>
            <input type="number" step="0.01" class="form-control" name="price" id="field_price"
                    ng-model="vm.game.price"
                    min="0"/>
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
