<div>
    <h2 data-translate="stidmApp.game.home.title">Games</h2>
    <jhi-alert></jhi-alert>
    <div class="form-group">
        <label for="usr">Chercher un jeu :</label>
        <input type="text" class="form-control" id="usr" ng-change="vm.onChange()" ng-model="vm.name">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left" ng-show="vm.account">
                <button class="btn btn-primary" ui-sref="game.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="stidmApp.game.home.createLabel">
                        Create new Game
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="container-fluid" infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
        <div class="row" >
            <div class="col-sm-3" ng-repeat="game in vm.games track by game.id" style="max-height: 30em; overflow: hidden">
                <a ui-sref="game-detail({id:game.id})">
                    <h3>{{game.name}}</h3>
                    <span>{{game.price}} €</span>
                    <hr/>
                    <img src={{game.cover}} />


                </a>
            </div>
        </div>
    </div>




</div>
